<div class="container">
    <h3 class="text-center">Sign Up</h3>
    <div class="form-group">
        <p>Account</p>
        <input class="form-control">
    </div>
    <div class="form-group">
        <p>Password</p>
        <input class="form-control">
    </div>
    <div class="form-group">
        <p>Email</p>
        <input class="form-control">
    </div>
    <div class="form-group">
        <p>Phone Number</p>
        <input class="form-control">
    </div>
    
    <button (click)="dangKy()">Sign up</button>
</div>

